footer{
    text-align: center;
    
}
footer h5{
    text-transform: uppercase;
    color: rgb(75, 73, 73);
    font-size: 10px;
    font-family: 'Arvo', serif;
    font-weight: bold;
    
}
footer h4{
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 15px;
    font-family: 'Arvo', serif;
}
.redes-sociales{
    padding: 20px;
}

.redes-sociales a{
    padding: 10px;
}
.redes-sociales li{
    list-style: none;
}
footer img{
    width: 45px;
    height: 45px;
}

